<strong>Olá, {{ student }}</strong>
<p>Você solicitou auxílio na academia Gympoint</p>
<p>confira o pedido de auxílio:</p>
<p>{{question}}</p>
<p>confira a resposta da academia:</p>
<p>{{answer}}</p>
<p>data da resposta: {{answer_at}}</p>
<small>Obrigado por fazer parte da Gympoint. Estamos animados para ajudá-lo a atingir seus objetivos de saúde e
  fitness.</small>
</p>
