<strong>Olá, {{ student }}</strong>
<p>Você efetuou sua matrícula na academia Gympoint com sucesso!</p>
<p>confira os detalhes do seu plano:</p>
<p>
  <strong>Plano selecionado: </strong> {{ plan }} <br />
  <strong>Data de término do plano: </strong> {{ date }} <br />
  <strong>Valor do plano: </strong> {{ price }} <br />
  <br />
  <small>Obrigado por fazer parte da Gympoint. Estamos animados para ajudá-lo a atingir seus objetivos de saúde e
    fitness.</small>
</p>
